@page "/cv/work-experience"
@rendermode InteractiveServer

<PageTitle>Work Experience - CV</PageTitle>

<h1>Work Experience</h1>

<div class="job-block">
    <h3 class="job-title">Jobloop</h3>
    <p class="job-subtitle">Kursdeltaker - Kodehode</p>
    <p class="job-period">apr 2025 -</p>
    <ul class="job-details">
        <li>Tok trucklappen - T1, T2 og T4</li>
    </ul>
</div>

<div class="job-block">
    <h3 class="job-title">Skeidar</h3>
    <p class="job-subtitle">Lagermedarbeider - Åsane og Fyllingsdalen</p>
    <p class="job-period">apr 2023 - aug 2024</p>
    <ul class="job-details">
        <li>Tok trucklappen - T1, T2 og T4</li>
    </ul>
</div>

<div class="job-block">
    <h3 class="job-title">TF BANK</h3>
    <p class="job-subtitle">Kundeservicemedarbeider</p>
    <p class="job-period">jan 2021 - apr 2023</p>
    <ul class="job-details">
        <li>Postansvarleg</li>
        <li>Jobbar med innkomande telefonsamtalar og e-post</li>
        <li>Rettleiar kundar i finanstenester og forsikring</li>
        <li>Utforming av standardsvar for kundeservice</li>
    </ul>
</div>

<div class="job-block">
    <h3 class="job-title">SYKES - Telenor og Nordea Liv</h3>
    <p class="job-subtitle">Salskonsulent</p>
    <p class="job-period">okt 2019 - des 2020</p>
    <ul class="job-details">
        <li>Innkommande henvendingar frå kundar</li>
        <li>sal av mobilabonnement, forsikring og diverse oppsål</li>
        <li>blei utmerka med særs god kvalitet av sal i mai 2020</li>
        <li>Plukka ut til å bli med på sideprosjekt med Nordea Liv, ringte opp kundar frå sammeåstinga med Fremde og generering av leads.</li>
    </ul>
</div>

<div class="job-block">
    <h3 class="job-title">ISBILEN</h3>
    <p class="job-subtitle">Seljar</p>
    <p class="job-period">mai 2018 - desember 2023</p>
    <ul class="job-details">
        <li>Jobba annakvar helg 30% saman med 100% i TF Bank</li>
        <li>Lagi godt grunnlag for salskompetanse til Sykes</li>
        <li>Blitt kjend med rulekøyring</li>
    </ul>
</div>
